This file contains my approach to solving the Rossmann Sales Stores challenge which can be found on Kaggle: https://www.kaggle.com/c/rossmann-store-sales

The approach is similar to solving any Data Science problem:

1 - Understand the problem

2 - Inspect the given data

3 - Pre-process the data - clean it, modify it, enhance it

4 - Work with different kinds of models to see which one is the best fit for the given problem

5 - Train the model using the processed data

6 - Test the validity of the data

In [1]:
#Import all the required libraries

import numpy as np
import pandas
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import train_test_split

/home/prakarsh/.local/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
#Read the training data
columnDtype = {"Store": "int", "DayOfWeek": "int", "Date": "str", "Customers": "int", "Open": "int",
         "Promo": "int", "StateHoliday": "str", "SchoolHoliday": "int", "Sales": "int"}

storeData = pandas.read_csv("store.csv")
trainingData = pandas.read_csv("train.csv", parse_dates=[2], dtype=columnDtype)
trainingData.shape

(1017209, 9)

Inspecting the data is useful as it can help clean the data and make valid assumptions. Below, I would be removing certain elements from the data as a result of my inspection.

In [3]:
#Drop the "Customers" column because it is not present in the test.csv file. Even though it seems like a useful 
#feature for Sales prediction, its absence from test.csv helps us come to the decision that it will not impact the
#results
trainingData = trainingData.drop(["Customers"], axis=1)

#Remove rows where there are no Sales
trainingData = trainingData[trainingData["Open"] != 0]
trainingData = trainingData[trainingData["Sales"] > 0]

#Merge the Store data with Training data
trainingData = trainingData.merge(storeData, on="Store")
trainingData.shape

(844338, 17)

In [4]:
#This function performs a lot of preprocessing by computing new features from existing data that might help us
#make Sales prediction
def enhanceTrainingData(data):
    data.fillna(0, inplace=True)
    #Since we only have rows with Sales > 0, so the Open column should be 1. Replace null by 1.
    data.loc[data.Open.isnull(), "Open"] = 1

    #Replace the values in StoreType, Assortment and StateHoliday with Integer values
    category = {"0": 0, "a": 1, "b": 2, "c": 3, "d": 4}
    data.StoreType.replace(category, inplace=True)
    data.Assortment.replace(category, inplace=True)
    data.StateHoliday.replace(category, inplace=True)

    #Append date information using the parsed Date column and remove the actual column
    data.DayOfWeek = data.Date.dt.dayofweek
    data["Year"] = data.Date.dt.year
    data["Month"] = data.Date.dt.month
    data["Day"] = data.Date.dt.day
    data["WeekOfYear"] = data.Date.dt.weekofyear
    data = data.drop(["Date"], axis=1)

    data.CompetitionDistance = np.log1p(data.CompetitionDistance)

    #Compute the number of months since the closest competitor opened
    data["CompetitionSince"] = 12 * (data.Year - data.CompetitionOpenSinceYear) + (data.Month - data.CompetitionOpenSinceMonth)
    data = data.drop(["CompetitionOpenSinceMonth", "CompetitionOpenSinceYear"], axis=1)

    #Compute the number of months since Promo2. Assume 4 weeks = 1 month
    data["PromoSince"] = 12 * (data.Year - data.Promo2SinceYear) + (data.WeekOfYear - data.Promo2SinceWeek) / 4.0
    data["PromoSince"] = data.PromoSince.apply(lambda x: x if x > 0 else 0)
    data.loc[data.Promo2SinceYear == 0, "PromoSince"] = 0
    data = data.drop(["Year", "Promo2SinceWeek", "Promo2SinceYear"], axis=1)

    #Compute whether the current day falls under a Promo Month
    monthDictionary = {1: "Jan", 2: "Feb", 3: "Mar", 4: "Apr", 5: "May", 6: "Jun",
                    7: "Jul", 8: "Aug", 9: "Sept", 10: "Oct", 11: "Nov", 12: "Dec"}
    data["MonthString"] = data.Month.map(monthDictionary)
    data.loc[data.PromoInterval == 0, "PromoInterval"] = ""
    data["IsPromoMonth"] = 0
    for interval in data.PromoInterval.unique():
        if interval != "":
            for month in interval.split(","):
                data.loc[(data.MonthString == month) & (data.PromoInterval == interval), "IsPromoMonth"] = 1
    
    data = data.drop(["MonthString", "PromoInterval", "Open"], axis=1)

    return data

In [5]:
def computeAverageSales(data, average_sales):
    data["AverageSales"] = 0
    for i in range(1, 1116):
        mean = data[data.Store == i].Sales.mean()
        mean = np.log1p(mean)
        data.loc[data.Store == i, "AverageSales"] = mean
        average_sales.append(mean)
    return data

In [6]:
trainingData

,Store,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
5,1,6,2015-07-25,4364,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
6,1,5,2015-07-24,3706,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
7,1,4,2015-07-23,3769,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
8,1,3,2015-07-22,3464,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
9,1,2,2015-07-21,3558,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
10,1,1,2015-07-20,4395,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
11,1,6,2015-07-18,4406,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
12,1,5,2015-07-17,4852,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
13,1,4,2015-07-16,4427,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
14,1,3,2015-07-15,4767,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
15,1,2,2015-07-14,5042,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
16,1,1,2015-07-13,5054,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
17,1,6,2015-07-11,3530,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
18,1,5,2015-07-10,3808,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
19,1,4,2015-07-09,3897,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
20,1,3,2015-07-08,3797,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
21,1,2,2015-07-07,3650,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
22,1,1,2015-07-06,4359,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
23,1,6,2015-07-04,4797,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
24,1,5,2015-07-03,4665,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
25,1,4,2015-07-02,5558,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
26,1,3,2015-07-01,5223,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
27,1,2,2015-06-30,5735,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
28,1,1,2015-06-29,5197,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
29,1,6,2015-06-27,4019,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844308,292,2,2013-02-05,7336,1,1,0,1,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844309,292,1,2013-02-04,7584,1,1,0,1,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844310,292,6,2013-02-02,3667,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844311,292,5,2013-02-01,5668,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844312,292,4,2013-01-31,5657,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844313,292,3,2013-01-30,4351,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844314,292,2,2013-01-29,4796,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844315,292,1,2013-01-28,5510,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844316,292,6,2013-01-26,3142,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844317,292,5,2013-01-25,6229,1,1,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844318,292,4,2013-01-24,5605,1,1,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844319,292,3,2013-01-23,5969,1,1,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844320,292,2,2013-01-22,6757,1,1,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844321,292,1,2013-01-21,7863,1,1,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844322,292,6,2013-01-19,2676,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844323,292,5,2013-01-18,4943,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844324,292,4,2013-01-17,4829,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844325,292,3,2013-01-16,4979,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844326,292,2,2013-01-15,4723,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844327,292,1,2013-01-14,5560,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844328,292,6,2013-01-12,3035,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844329,292,5,2013-01-11,6316,1,1,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844330,292,4,2013-01-10,6173,1,1,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844331,292,3,2013-01-09,6436,1,1,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844332,292,2,2013-01-08,6859,1,1,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844333,292,1,2013-01-07,9291,1,1,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844334,292,6,2013-01-05,2748,1,0,0,0,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844335,292,5,2013-01-04,4202,1,0,0,1,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844336,292,4,2013-01-03,4580,1,0,0,1,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN
844337,292,3,2013-01-02,5076,1,0,0,1,a,a,1100.0,6.0,2009.0,0,NaN,NaN,NaN

In [7]:
trainingData = enhanceTrainingData(trainingData)
trainingData

,Store,DayOfWeek,Sales,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,Promo2,Month,Day,WeekOfYear,CompetitionSince,PromoSince,IsPromoMonth
0,1,4,5263,1,0,1,3,1,7.147559,0,7,31,31,82.0,0.0,0
1,1,3,5020,1,0,1,3,1,7.147559,0,7,30,31,82.0,0.0,0
2,1,2,4782,1,0,1,3,1,7.147559,0,7,29,31,82.0,0.0,0
3,1,1,5011,1,0,1,3,1,7.147559,0,7,28,31,82.0,0.0,0
4,1,0,6102,1,0,1,3,1,7.147559,0,7,27,31,82.0,0.0,0
5,1,5,4364,0,0,0,3,1,7.147559,0,7,25,30,82.0,0.0,0
6,1,4,3706,0,0,0,3,1,7.147559,0,7,24,30,82.0,0.0,0
7,1,3,3769,0,0,0,3,1,7.147559,0,7,23,30,82.0,0.0,0
8,1,2,3464,0,0,0,3,1,7.147559,0,7,22,30,82.0,0.0,0
9,1,1,3558,0,0,0,3,1,7.147559,0,7,21,30,82.0,0.0,0
10,1,0,4395,0,0,0,3,1,7.147559,0,7,20,30,82.0,0.0,0
11,1,5,4406,0,0,0,3,1,7.147559,0,7,18,29,82.0,0.0,0
12,1,4,4852,1,0,0,3,1,7.147559,0,7,17,29,82.0,0.0,0
13,1,3,4427,1,0,0,3,1,7.147559,0,7,16,29,82.0,0.0,0
14,1,2,4767,1,0,0,3,1,7.147559,0,7,15,29,82.0,0.0,0
15,1,1,5042,1,0,0,3,1,7.147559,0,7,14,29,82.0,0.0,0
16,1,0,5054,1,0,0,3,1,7.147559,0,7,13,29,82.0,0.0,0
17,1,5,3530,0,0,0,3,1,7.147559,0,7,11,28,82.0,0.0,0
18,1,4,3808,0,0,0,3,1,7.147559,0,7,10,28,82.0,0.0,0
19,1,3,3897,0,0,0,3,1,7.147559,0,7,9,28,82.0,0.0,0
20,1,2,3797,0,0,0,3,1,7.147559,0,7,8,28,82.0,0.0,0
21,1,1,3650,0,0,0,3,1,7.147559,0,7,7,28,82.0,0.0,0
22,1,0,4359,0,0,0,3,1,7.147559,0,7,6,28,82.0,0.0,0
23,1,5,4797,0,0,0,3,1,7.147559,0,7,4,27,82.0,0.0,0
24,1,4,4665,1,0,0,3,1,7.147559,0,7,3,27,82.0,0.0,0
25,1,3,5558,1,0,0,3,1,7.147559,0,7,2,27,82.0,0.0,0
26,1,2,5223,1,0,0,3,1,7.147559,0,7,1,27,82.0,0.0,0
27,1,1,5735,1,0,0,3,1,7.147559,0,6,30,27,81.0,0.0,0
28,1,0,5197,1,0,0,3,1,7.147559,0,6,29,27,81.0,0.0,0
29,1,5,4019,0,0,0,3,1,7.147559,0,6,27,26,81.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844308,292,1,7336,1,0,1,1,1,7.003974,0,2,5,6,44.0,0.0,0
844309,292,0,7584,1,0,1,1,1,7.003974,0,2,4,6,44.0,0.0,0
844310,292,5,3667,0,0,0,1,1,7.003974,0,2,2,5,44.0,0.0,0
844311,292,4,5668,0,0,0,1,1,7.003974,0,2,1,5,44.0,0.0,0
844312,292,3,5657,0,0,0,1,1,7.003974,0,1,31,5,43.0,0.0,0
844313,292,2,4351,0,0,0,1,1,7.003974,0,1,30,5,43.0,0.0,0
844314,292,1,4796,0,0,0,1,1,7.003974,0,1,29,5,43.0,0.0,0
844315,292,0,5510,0,0,0,1,1,7.003974,0,1,28,5,43.0,0.0,0
844316,292,5,3142,0,0,0,1,1,7.003974,0,1,26,4,43.0,0.0,0
844317,292,4,6229,1,0,0,1,1,7.003974,0,1,25,4,43.0,0.0,0
844318,292,3,5605,1,0,0,1,1,7.003974,0,1,24,4,43.0,0.0,0
844319,292,2,5969,1,0,0,1,1,7.003974,0,1,23,4,43.0,0.0,0
844320,292,1,6757,1,0,0,1,1,7.003974,0,1,22,4,43.0,0.0,0
844321,292,0,7863,1,0,0,1,1,7.003974,0,1,21,4,43.0,0.0,0
844322,292,5,2676,0,0,0,1,1,7.003974,0,1,19,3,43.0,0.0,0
844323,292,4,4943,0,0,0,1,1,7.003974,0,1,18,3,43.0,0.0,0
844324,292,3,4829,0,0,0,1,1,7.003974,0,1,17,3,43.0,0.0,0
844325,292,2,4979,0,0,0,1,1,7.003974,0,1,16,3,43.0,0.0,0
844326,292,1,4723,0,0,0,1,1,7.003974,0,1,15,3,43.0,0.0,0
844327,292,0,5560,0,0,0,1,1,7.003974,0,1,14,3,43.0,0.0,0
844328,292,5,3035,0,0,0,1,1,7.003974,0,1,12,2,43.0,0.0,0
844329,292,4,6316,1,0,0,1,1,7.003974,0,1,11,2,43.0,0.0,0
844330,292,3,6173,1,0,0,1,1,7.003974,0,1,10,2,43.0,0.0,0
844331,292,2,6436,1,0,0,1,1,7.003974,0,1,9,2,43.0,0.0,0
844332,292,1,6859,1,0,0,1,1,7.003974,0,1,8,2,43.0,0.0,0
844333,292,0,9291,1,0,0,1,1,7.003974,0,1,7,2,43.0,0.0,0
844334,292,5,2748,0,0,0,1,1,7.003974,0,1,5,1,43.0,0.0,0
844335,292,4,4202,0,0,1,1,1,7.003974,0,1,4,1,43.0,0.0,0
844336,292,3,4580,0,0,1,1,1,7.003974,0,1,3,1,43.0,0.0,0
844337,292,2,5076,0,0,1,1,1,7.003974,0,1,2,1,43.0,0.0,0

In [8]:
trainingData.shape

(844338, 16)

Read the data to be tested, process it similar to trainingData

In [9]:
testData = pandas.read_csv("test.csv", parse_dates=[3])
testData.fillna(1, inplace=True)
testData = testData.merge(storeData, on="Store")
testData = enhanceTrainingData(testData)
testData.shape

(41088, 16)

Compute the average Sales for each of the 1115 stores and append that to the training and test data

In [10]:
average_sales = []

trainingData = computeAverageSales(trainingData, average_sales)
testData["AverageSales"] = 0
# 1115 = number of stores
for i in range(1, 1116):
    testData.loc[testData.Store == i, "AverageSales"] = average_sales[i - 1]

In [11]:
trainingData

,Store,DayOfWeek,Sales,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,Promo2,Month,Day,WeekOfYear,CompetitionSince,PromoSince,IsPromoMonth,AverageSales
0,1,4,5263,1,0,1,3,1,7.147559,0,7,31,31,82.0,0.0,0,8.468023
1,1,3,5020,1,0,1,3,1,7.147559,0,7,30,31,82.0,0.0,0,8.468023
2,1,2,4782,1,0,1,3,1,7.147559,0,7,29,31,82.0,0.0,0,8.468023
3,1,1,5011,1,0,1,3,1,7.147559,0,7,28,31,82.0,0.0,0,8.468023
4,1,0,6102,1,0,1,3,1,7.147559,0,7,27,31,82.0,0.0,0,8.468023
5,1,5,4364,0,0,0,3,1,7.147559,0,7,25,30,82.0,0.0,0,8.468023
6,1,4,3706,0,0,0,3,1,7.147559,0,7,24,30,82.0,0.0,0,8.468023
7,1,3,3769,0,0,0,3,1,7.147559,0,7,23,30,82.0,0.0,0,8.468023
8,1,2,3464,0,0,0,3,1,7.147559,0,7,22,30,82.0,0.0,0,8.468023
9,1,1,3558,0,0,0,3,1,7.147559,0,7,21,30,82.0,0.0,0,8.468023
10,1,0,4395,0,0,0,3,1,7.147559,0,7,20,30,82.0,0.0,0,8.468023
11,1,5,4406,0,0,0,3,1,7.147559,0,7,18,29,82.0,0.0,0,8.468023
12,1,4,4852,1,0,0,3,1,7.147559,0,7,17,29,82.0,0.0,0,8.468023
13,1,3,4427,1,0,0,3,1,7.147559,0,7,16,29,82.0,0.0,0,8.468023
14,1,2,4767,1,0,0,3,1,7.147559,0,7,15,29,82.0,0.0,0,8.468023
15,1,1,5042,1,0,0,3,1,7.147559,0,7,14,29,82.0,0.0,0,8.468023
16,1,0,5054,1,0,0,3,1,7.147559,0,7,13,29,82.0,0.0,0,8.468023
17,1,5,3530,0,0,0,3,1,7.147559,0,7,11,28,82.0,0.0,0,8.468023
18,1,4,3808,0,0,0,3,1,7.147559,0,7,10,28,82.0,0.0,0,8.468023
19,1,3,3897,0,0,0,3,1,7.147559,0,7,9,28,82.0,0.0,0,8.468023
20,1,2,3797,0,0,0,3,1,7.147559,0,7,8,28,82.0,0.0,0,8.468023
21,1,1,3650,0,0,0,3,1,7.147559,0,7,7,28,82.0,0.0,0,8.468023
22,1,0,4359,0,0,0,3,1,7.147559,0,7,6,28,82.0,0.0,0,8.468023
23,1,5,4797,0,0,0,3,1,7.147559,0,7,4,27,82.0,0.0,0,8.468023
24,1,4,4665,1,0,0,3,1,7.147559,0,7,3,27,82.0,0.0,0,8.468023
25,1,3,5558,1,0,0,3,1,7.147559,0,7,2,27,82.0,0.0,0,8.468023
26,1,2,5223,1,0,0,3,1,7.147559,0,7,1,27,82.0,0.0,0,8.468023
27,1,1,5735,1,0,0,3,1,7.147559,0,6,30,27,81.0,0.0,0,8.468023
28,1,0,5197,1,0,0,3,1,7.147559,0,6,29,27,81.0,0.0,0,8.468023
29,1,5,4019,0,0,0,3,1,7.147559,0,6,27,26,81.0,0.0,0,8.468023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844308,292,1,7336,1,0,1,1,1,7.003974,0,2,5,6,44.0,0.0,0,8.661309
844309,292,0,7584,1,0,1,1,1,7.003974,0,2,4,6,44.0,0.0,0,8.661309
844310,292,5,3667,0,0,0,1,1,7.003974,0,2,2,5,44.0,0.0,0,8.661309
844311,292,4,5668,0,0,0,1,1,7.003974,0,2,1,5,44.0,0.0,0,8.661309
844312,292,3,5657,0,0,0,1,1,7.003974,0,1,31,5,43.0,0.0,0,8.661309
844313,292,2,4351,0,0,0,1,1,7.003974,0,1,30,5,43.0,0.0,0,8.661309
844314,292,1,4796,0,0,0,1,1,7.003974,0,1,29,5,43.0,0.0,0,8.661309
844315,292,0,5510,0,0,0,1,1,7.003974,0,1,28,5,43.0,0.0,0,8.661309
844316,292,5,3142,0,0,0,1,1,7.003974,0,1,26,4,43.0,0.0,0,8.661309
844317,292,4,6229,1,0,0,1,1,7.003974,0,1,25,4,43.0,0.0,0,8.661309
844318,292,3,5605,1,0,0,1,1,7.003974,0,1,24,4,43.0,0.0,0,8.661309
844319,292,2,5969,1,0,0,1,1,7.003974,0,1,23,4,43.0,0.0,0,8.661309
844320,292,1,6757,1,0,0,1,1,7.003974,0,1,22,4,43.0,0.0,0,8.661309
844321,292,0,7863,1,0,0,1,1,7.003974,0,1,21,4,43.0,0.0,0,8.661309
844322,292,5,2676,0,0,0,1,1,7.003974,0,1,19,3,43.0,0.0,0,8.661309
844323,292,4,4943,0,0,0,1,1,7.003974,0,1,18,3,43.0,0.0,0,8.661309
844324,292,3,4829,0,0,0,1,1,7.003974,0,1,17,3,43.0,0.0,0,8.661309
844325,292,2,4979,0,0,0,1,1,7.003974,0,1,16,3,43.0,0.0,0,8.661309
844326,292,1,4723,0,0,0,1,1,7.003974,0,1,15,3,43.0,0.0,0,8.661309
844327,292,0,5560,0,0,0,1,1,7.003974,0,1,14,3,43.0,0.0,0,8.661309
844328,292,5,3035,0,0,0,1,1,7.003974,0,1,12,2,43.0,0.0,0,8.661309
844329,292,4,6316,1,0,0,1,1,7.003974,0,1,11,2,43.0,0.0,0,8.661309
844330,292,3,6173,1,0,0,1,1,7.003974,0,1,10,2,43.0,0.0,0,8.661309
844331,292,2,6436,1,0,0,1,1,7.003974,0,1,9,2,43.0,0.0,0,8.661309
844332,292,1,6859,1,0,0,1,1,7.003974,0,1,8,2,43.0,0.0,0,8.661309
844333,292,0,9291,1,0,0,1,1,7.003974,0,1,7,2,43.0,0.0,0,8.661309
844334,292,5,2748,0,0,0,1,1,7.003974,0,1,5,1,43.0,0.0,0,8.661309
844335,292,4,4202,0,0,1,1,1,7.003974,0,1,4,1,43.0,0.0,0,8.661309
844336,292,3,4580,0,0,1,1,1,7.003974,0,1,3,1,43.0,0.0,0,8.661309
844337,292,2,5076,0,0,1,1,1,7.003974,0,1,2,1,43.0,0.0,0,8.661309

Split the training data into train set (for training) and validation set (for measuring accuracy or validation)

In [12]:
X_train, X_valid = train_test_split(trainingData, train_size=0.8, random_state=10)

#Y_train = np.log1p(X_train.Sales)
Y_train = X_train.Sales    #So that we can use Logistic Regression
X_train = X_train.drop(["Sales"], axis=1)

#Y_valid = np.log1p(X_valid.Sales)
Y_valid = X_valid.Sales
X_valid = X_valid.drop(["Sales"], axis=1)

print(X_train.shape)
print(Y_train.shape)
print(X_valid.shape)
print(Y_valid.shape)

(675470, 16)
(675470,)
(168868, 16)
(168868,)

Try different models and pick which one works the best for this problem.
I am commenting out LogisticRegression and RandomForestRegressor as my Laptop is not powerful enough.

In [13]:
lm = LinearRegression()
lm.fit(X_train, Y_train)
print("Accuracy :: ", lm.score(X_valid, Y_valid))

"""
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(X_train, Y_train)
print(rf.score(X_valid, Y_valid))

lg = LogisticRegression()
lg.fit(X_train, Y_train)
print(lg.score(X_valid, Y_valid))
"""

Accuracy ::  0.710693090111913

'\nrf = RandomForestRegressor(n_estimators = 1000, random_state = 42)\nrf.fit(X_train, Y_train)\nprint(rf.score(X_valid, Y_valid))\n\nlg = LogisticRegression()\nlg.fit(X_train, Y_train)\nprint(lg.score(X_valid, Y_valid))\n'

Save the model which works the best

In [14]:
pickle.dump(lm, open("lr_model.dat", "wb"))

Use the model to make sales predictions

In [15]:
X_test = testData.drop(["Id"], axis=1)
predictions = lm.predict(X_test)

In [16]:
predictions

array([5867.42125575, 6015.20191365, 6162.98257156, ..., 8285.96635054,
       5254.80835633, 5402.58901423])

The saved model can be loaded in some other file to make predictions as well.
In the end, we can save these predictions in a file to match the Kaggle submission format.

In [17]:
result = pandas.DataFrame({"Id": testData["Id"], "Sales": predictions})
result.to_csv("Submission.csv", index=False)